APP_NAME="تيانيل"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://www.tyanil.com

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
DB_DATABASE="/absolute/path/to/database/database.sqlite"

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=public
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MAIL_MAILER=log
MAIL_FROM_ADDRESS=store@example.test
MAIL_FROM_NAME="${APP_NAME}"

ADMIN_EMAIL=info@tyanil.com
ADMIN_PASSWORD="Tyanil@ChangeMe2026!"

NOVA_GUARD=web
NOVA_DOMAIN_NAME=
NOVA_LICENSE_KEY=

TAP_PAYMENT_ENABLED=false
MOYASAR_PAYMENT_ENABLED=false
MOYASAR_MERCHANT_ID=
MOYASAR_PUBLIC_KEY=
MOYASAR_SECRET_KEY=
JITSI_BASE_URL=
JITSI_BASE_URL2=
JITSI_APP_ID=
JITSI_SECRET=
