/storage/app
/storage/framework
/storage/logs
/storage/*.key
/public/storage
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.git.zip
/vendor
.env
/node_modules/
/nova/node_modules/
.DS_Store
.phpunit.result.cache
/tmp
/storage/analytics

!/storage
!/storage/app/
/storage/app/*
!/storage/app/public/
!/storage/app/public/**
!/storage/app/permissions.json
!/storage/app/cities.json

!/storage/framework/
/storage/framework/*
!/storage/framework/.gitignore
!/storage/framework/sessions/
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
!/storage/framework/testing/
/storage/framework/testing/*
!/storage/framework/testing/.gitignore

!/storage/logs/
/storage/logs/*
!/storage/logs/.gitignore
